<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="bg-light">
    <% include ../static/partials/navbar.ejs %>

    <main class="container p-3 mb-2 bg-white text-dark border border-dark">
      <h1><%= wiki.title %></h1>
      <% if (wiki.private) { %>
        <h4>View: Private</h4>
      <% } else { %>
        <h4>View: Public</h4>
      <% } %>
      <!-- <h2><%# wiki.user.username %></h2> -->
      <hr/>

          <% if (currentUser && (currentUser.isAdmin() || (currentUser.isPremium() && currentUser.isOwner(wiki))) ) { %>
            <a class="btn btn-info" href="/wikis/<%= wiki.id %>/collaborators/edit"><i class="material-icons">perm_identity</i>Edit Collaborators</a>
          <% } %>

          <% if (currentUser && (currentUser.isAdmin() || currentUser.isOwner(wiki) )) { %>
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning text-white"><i class="material-icons">assignment</i>Edit</a>

            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger text-white"><i class="material-icons">delete</i>Delete</button>
            </form>
          <% } %>

      <hr/>

      <p><%- wiki.html %></p>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
