<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="bg-light">

    <% include ../static/partials/navbar.ejs %>
    <div class="Aligner">
    <main class="container p-3 mb-2 bg-white text-dark border border-dark">

      <% include ../static/partials/messages.ejs %>

 <!-- #1 -->
      <h1><%= `${user.username}'s Profile` %></h1>

      <% if(currentUser.id === user.id && (currentUser.role == 0 || currentUser.role == null)) { %>
            <p>
                You have a <strong>Standard Account</strong>.
                <br>
                <br>
                Want to create and collaborate on private wikis?
                <br>
                For only $15 you can!
                <br>
                Upgrade your account and become a premium user.
                <br>
                <br>
                <strong> Ready to upgrade? </strong>
                <br>
                Pay with your credit card below.

            </p>
            <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-amount="1500"
                    data-key="pk_test_LLN4nauYNgVOWi1cGRdkAH2P00FzimXJcn"
                    data-name="Blocpedia"
                    data-description="Blocipedia Premium Account"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                ></script>
            </form>

            <!-- <a
              href="/users/<%= user.id %>/upgrade-page"
              class="btn btn-primary btn"
              >Upgrade Account
            </a>-->

            <% } if (currentUser.id === user.id && (currentUser.role == 1)) { %>
            <p>
                You have a <strong>Premium Account</strong>.
                <br>
                <br>
                If you need to downgrade your account, you can do that below.
            </p>
            <br>
            <form action="/users/<%= currentUser.id %>" method="POST" onsubmit="return confirm('Are you sure you want to downgrade?  All private wikis will become public.');" >
              <button type="Submit" class="btn btn-warning">
                  Downgrade Account
              </button>
          </form>
            <% } if (currentUser.id === user.id && (currentUser.role == 2)) { %>
            <p>You are an <strong>Administrator</strong>.</p>
            <% } else { %>
              <p> </p>

            <% } %>



      <!--
        <% if(currentUser.id === user.id) { %>
          <a href="/users/<%= user.id %>/edit" class="btn btn-warning">Edit Account</a>
        <% } %>
      -->

      <hr>

      <h2> Latest Wikis</h2>

      <ul class="list-unstyled">

 <!-- #2 -->
        <% if(wikis) { %>
          <% wikis.forEach((wiki) => { %>
 <!-- #3 -->
            <li>
              <a style="text-decoration: none; color: #0645AD ; border-bottom: 1px solid #0645AD ;"href="/wikis/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>


    </main>
    </div>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
